<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aqh.board.domain.dao.CommunityDAOImpl">

    <!-- CREATE -->
    <insert id="insertBoard" parameterType="BoardDTO" useGeneratedKeys="true" keyProperty="bno">
    INSERT INTO BOARD
        (id,menu,category,writeDay,title,contents) VALUES
        (#{id},"COMMUNITY",#{category},sysdate(),#{title},#{contents});
    </insert>
    <!-- READ -->
    
    <select id="getList" resultType="BoardDTO">
        SELECT * FROM (SELECT * FROM board ORDER BY bno DESC) SUBQUERY
        <trim prefix="WHERE (" prefixOverrides="AND" suffix=")">
				
            <if test="category != null ">
                AND category = #{category}
            </if>
            
			<if test="type != null &amp;&amp; !type.equals('')">
				<if test="type == 'contents'">
	            	AND contents LIKE concat('%',#{keyword},'%')
	            </if>
	            <if test="type == 'title'">
	            	AND title LIKE concat('%',#{keyword},'%')
	            </if>
	            <if test="type == 'id'">
	            	AND id LIKE concat('%',#{keyword},'%')
	            </if>
	            <if test="type == 'all'">
	                AND contents LIKE concat('%',#{keyword},'%')
	                OR title LIKE concat('%',#{keyword},'%')
	                OR id LIKE concat('%',#{keyword},'%')
	            </if>
            </if>
    </trim>
            
			limit #{offset},#{limit}
        <!--
            (SELECT * FROM board ORDER BY bno DESC) SUBQUERY LIMIT #{page},#{limit};
            쿼리 추가 해야함. -->
    </select>
    
    <select id="findByBoardNumber" resultType="BoardDTO">
    SELECT * FROM board where bno = #{bno}
    </select>
    
    <select id="getTotal" resultType="int">
        SELECT count(*) FROM board
            <trim prefix="WHERE (" prefixOverrides="AND" suffix=")">
            <if test="category != null "> AND category = #{category} </if>
                
                <if test="type != null &amp;&amp; !type.equals('')">
                    <if test="type == 'contents'">
                        AND contents LIKE concat('%',#{keyword},'%')
                    </if>
                    <if test="type == 'title'">
                        AND title LIKE concat('%',#{keyword},'%')
                    </if>
                    <if test="type == 'id'">
                        AND id LIKE concat('%',#{keyword},'%')
                    </if>
                    <if test="type == 'all'">
                        AND contents LIKE concat('%',#{keyword},'%')
                        OR title LIKE concat('%',#{keyword},'%')
                        OR id LIKE concat('%',#{keyword},'%')
                    </if>
                    AND menu = "COMMUNITY"
                </if>
            </trim>
    </select>
    
    <update id="viewCntUp">
        UPDATE board SET readcount = readcount+1 WHERE BNO = #{bno};
    </update>
    <!-- UPDATE -->
    <update id="updateBoard">
    UPDATE board SET category = #{category},title = #{title},contents = #{contents}
    	<trim prefix="WHERE">
    		<if test=" bno != null">bno = #{bno}</if>
        </trim>
    </update>
    
    <!-- DELETE -->
    <delete id="deleteBoard" parameterType="long">
    DELETE FROM board WHERE bno = #{bno}
    </delete>
    
</mapper>