<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1">
    
    <!-- CREATE -->
    <insert id="createPost" >
        
    </insert>
    <!-- READ -->
    <select id="getAllCommunityPostList">

    </select>
    <select id="getLifePostList">

    </select>

    <select id="getGroupPostList">

    </select>
    
    <select id="getPost">

    </select>

    <select id="getTotal">

    </select>
    <!-- UPDATE -->
    <update id="updatePost">

    </update>
    <!-- DELETE -->
    <delete id="deletePost">

    </delete>
</mapper>