<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aqh.board.domain.dao.CommunityDAO">

    <!-- CREATE -->
    <insert id="createPost" parameterType="BoardDTO">
    INSERT INTO BOARD
        (id,menu,category,file,writeDay,title,contents) VALUES
        (#{id},"COMMUNITY",#{category},#{file},sysdate(),#{title},#{contents});
    </insert>
    <!-- READ -->
    
    <select id="getAllCommunityPostList" resultType="BoardDTO">
        SELECT * FROM board ORDER BY bNo desc LIMIT #{page}, #{amount}
    </select>
    
    <select id="getCategoryPostList" resultType="BoardDTO">
    SELECT * FROM board where category = #{category}
    </select>
    
    <select id="getPost" resultType="BoardDTO">
    SELECT * FROM board where BNO = #{bNo}
    </select>
    
    <select id="getTotal" resultType="long">
    SELECT count(*) FROM board where category = "COMMUNITY"
    </select>
    
    <!-- UPDATE -->
    <update id="updatePost">
    UPDATE board SET category = #{category},file = #{file},title = #{title},contents = #{contents}
    	<trim prefix="WHERE">
    		<if test=" bNo != null">bNo = #{bNo}</if>
        </trim>
    </update>
    
    <!-- DELETE -->
    <delete id="deletePost" parameterType="long">
    DELETE FROM board WHERE bNo = #{bNo}
    </delete>
    
</mapper>