<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aqh.board.dao.EventMapper">

	<!-- 이벤트 메뉴 전체조회(메뉴 내 모든 게시판 조회) -->
	<select id="eventMenuSelectAll" resultType="BoardDTO">
		select RN.* from
		(select RN1.* from
		(select * from board
		<where>
					<if test="type != null">
						<choose>
							<when test='type.equals("all")'>
								id like concat('%',#{keyword},'%')
								or title like concat('%',#{keyword},'%')
								or contents like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("id")'>
								id like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("title")'>
								title like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("contents")'>
								contents like concat('%',#{keyword},'%')
							</when>
						</choose>
					</if>
				</where>
		)RN1 where menu="EVENT" order by writeDay desc)RN 
		limit #{offset}, #{limit}
	</select>


	<!-- 이벤트 IT 이벤트 카테고리 전체조회(메뉴 내 카테고리 선택 후 해당 게시판 조회) -->
	<select id="eventItEventList" resultType="BoardDTO">
		select RN.* from
		(select RN1.* from
		(select * from board
		<where>
					<if test="type != null">
						<choose>
							<when test='type.equals("all")'>
								id like concat('%',#{keyword},'%')
								or title like concat('%',#{keyword},'%')
								or contents like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("id")'>
								id like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("title")'>
								title like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("contents")'>
								contents like concat('%',#{keyword},'%')
							</when>
						</choose>
					</if>
				</where>
		)RN1 where category = "EVENT_IT_EVENT" order by writeDay desc)RN 
		limit #{offset}, #{limit}
	</select>


	<!-- 이벤트 마케팅 카테고리 전체조회(메뉴 내 카테고리 선택 후 해당 게시판 조회) -->
	<select id="eventMarketingList" resultType="BoardDTO">
		select RN.* from
		(select RN1.* from
		(select * from board
		<where>
					<if test="type != null">
						<choose>
							<when test='type.equals("all")'>
								id like concat('%',#{keyword},'%')
								or title like concat('%',#{keyword},'%')
								or contents like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("id")'>
								id like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("title")'>
								title like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("contents")'>
								contents like concat('%',#{keyword},'%')
							</when>
						</choose>
					</if>
				</where>
		)RN1 where category = "EVENT_MARKETING" order by writeDay desc)RN 
		limit #{offset}, #{limit}
	</select>


	<!-- 이벤트 게시판 상세 조회 -->
	<select id="eventSelectDetail" parameterType="long"
		resultType="BoardDTO">
		select * from board
		where bno = #{bno} and menu = 'EVENT'
	</select>


	<!-- 이벤트 게시판 글 등록 -->
	<insert id="eventInsert" parameterType="BoardDTO">
		insert into
		board(id,title,contents,menu,category)
		values(#{id}, #{title},
		#{contents}, 'EVENT', #{category})
	</insert>


	<!-- 이벤트 게시판 글 수정 -->
	<update id="eventUpdate" parameterType="BoardDTO">
		update board
		set category = #{category}, title = #{title}, contents = #{contents}
		where bno =	#{bno} and menu = 'EVENT'
	</update>


	<!-- 이벤트 게시판 글 삭제 -->
	<delete id="eventDelete" parameterType="long">
		delete from board where
		bno = #{bno} and menu ='EVENT'
	</delete>


	<!-- 게시판 개수 -->
	<select id="BoardCount" resultType="integer">
		select count(*) from board
		where menu = 'EVENT' 
		<where>
					<if test="type != null">
						<choose>
							<when test='type.equals("all")'>
								id like concat('%',#{keyword},'%')
								or title like concat('%',#{keyword},'%')
								or contents like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("id")'>
								id like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("title")'>
								title like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("contents")'>
								contents like concat('%',#{keyword},'%')
							</when>
						</choose>
					</if>
				</where>
	</select>


	<!-- 조회수 기능 -->
	<update id="readCountUp">
		update board
		set readcount = readcount + 1
		where bno = #{bno} and menu = 'EVENT'
	</update>
</mapper>