<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aqh.common.domain.dao.FileMapper">
	<insert id="upload" parameterType="java.util.List">
				INSERT INTO attachfile
			(
				bno, 
				uuid, 
				originName, 
				uploadPath, 
				fileSize, 
				fmtFileSize
			)
			VALUES
			<foreach collection="list" item="files" separator=",">
			(
				#{files.bno}, 
				#{files.uuid}, 
				#{files.originName}, 
				#{files.uploadPath}, 
				#{files.fileSize}, 
				#{files.fmtFileSize}
			)
			</foreach>
	</insert>
	
	<delete id="delete">
		DELETE FROM attachfile 
		WHERE fno IN
		<foreach collection="array" item="fno" open="(" close=")" separator=",">
		${fno}
		</foreach>
	</delete>
	
	<select id="fileList" resultType="FileDTO">
		SELECT * FROM attachfile
		WHERE fno IN
		<foreach collection="array" item="fno" open="(" close=")" separator=",">
		${fno}
		</foreach>
	</select>
	
	<select id="fileDetail" resultType="FileDTO">
		SELECT * FROM attachfile
		WHERE fno = #{fno}
	</select>
	
	<select id="deleteAll" parameterType="long">
		DELETE FROM attachfile
		WHERE bno=#{bno}
	</select>
</mapper>