<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aqh.common.domain.dao.fileMapper">
	<insert id="upload" parameterType="AttachFile">
		INSERT INTO attachfile(bNo, uuid, originName, uploadPath, fileSize)
		VALUES(#{bNo}, #{uuid}, #{originName}, #{uploadPath}, #{fileSize})
	</insert>
	
	<select id="getFileName" resultType="AttachFile">
		SELECT * FROM attachfile
		WHERE bNo=#{bNo}
	</select>
</mapper>