<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "=//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aqh.reply.domain.dao.ReplyMapper">

    <insert id="register">
        INSERT INTO reply( bNo, id, contents)
        VALUES( #{bNo} , #{id}, #{contents} )
    </insert>
    <select id="getReplyList" resultType="replyDTO">
        SELECT * FROM reply where bNo = #{bNo} 
        ORDER BY writeDay ASC
    </select>
    <select id="getReply" resultType="replyDTO">
        SELECT * FROM reply where rNo = #{rno}
    </select>
    <update id="modifyReply">
        UPDATE reply SET contents = #{contents} WHERE rNo = #{rno}
    </update>
    <delete id="removeReply">
        delete from reply where rNo = #{rno}
    </delete>
    
    <update id="replyCntUpdate">
    	UPDATE board B
    	SET replyCnt = 
    	(SELECT count(*) FROM reply R WHERE bNo = #{bNo})
    	WHERE bNo = #{bNo}
    </update>
    
</mapper>