<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aqh.board.domain.dao.NoticeDAO">
	
	<!-- 메뉴 전체조회(notice 메뉴 클릭 시) -->
	<select id="menuSelectAll" parameterType="hashMap" resultType="BoardDTO">
		select RN.* from
			(select RN1.* from
				(select * from board 
					<if test='searchType.equals("id")'>
						where id like concat('%',#{keyword},'%')
					</if>
					<if test='searchType.equals("title")'>
						where title like concat('%',#{keyword},'%')
					</if>
					<if test='searchType.equals("contents")'>
						where contents like concat('%',#{keyword},'%')
					</if>
					<if test='searchType.equals("title_contents")'>
						where title like concat('%',#{keyword},'%')
							or contents like concat('%',#{keyword},'%')
					</if>
				)
			RN1 where menu="NOTICE" order by writeDay desc) 
		RN limit 0,5;
	</select>
	<!-- select RN.* from(select bNo,id,readCount,title,writeDay from board where menu="NOTICE" order by writeDay desc) RN limit #{displayPost},#{postNum}; -->

	<!-- 카테고리 전체조회(category 메뉴 클릭 시) -->
	<select id="categorySelectAll" parameterType="hashMap" resultType="BoardDTO">
		select RN.* from(select bNo,id,readCount,title,writeDay from board where category = #{category} order by writeDay desc) RN limit #{displayPost},#{postNum};
	</select>
	
	<!-- 선택조회(게시판 제목 클릭 시) -->
	<select id="noticeSelectDetail" resultType="BoardDTO">
		select bNo,id,menu,category,readCount,title,contents,file, writeDay from board where bNo = #{bNo};
	</select>
	
	<!-- 게시판 개수 -->
	<select id="BoardListAllCount" resultType="integer">
		select count(*) from board;
	</select>
	<select id="CategoryListCount" resultType="integer">
		select count(*) from board where category = #{category};
	</select>
	
	<!-- 등록 -->
	<insert id="noticeInsert" parameterType="BoardDTO">
		insert into board (id,menu,category,title,contents) values(#{id},"NOTICE",#{category},#{title},#{contents});
	</insert>
	
	<!-- 수정 -->
	<update id="noticeUpdate" parameterType="BoardDTO">
		update board set menu = "NOTICE", category = #{category}, title = #{title}, contents = #{contents} WHERE `bNo` = #{bNo};
	</update>
	
	<!-- 삭제 -->
	<delete id="noticeDelete" parameterType="int">
		delete from board where bNo = #{bNo};
	</delete>
	
	
</mapper>