<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aqh.board.domain.dao.NoticeDAO">
	
	
	
	<!-- 메뉴 전체조회(notice 메뉴 클릭 시) -->
	<select id="menuSelectAll" resultType="BoardDTO">
		select RN.* from
			(select RN1.* from
				(select * from board 
				<where>
					<if test="type != null">
						<choose>
							<when test='type.equals("all")'>
								id like concat('%',#{keyword},'%')
								or title like concat('%',#{keyword},'%')
								or contents like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("id")'>
								id like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("title")'>
								title like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("contents")'>
								contents like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("titleContents")'>
								title like concat('%',#{keyword},'%')
								or contents like concat('%',#{keyword},'%')
							</when>
						</choose>
					</if>
				</where>
				)
			RN1 where menu="NOTICE" order by writeDay desc) 
		RN limit #{offset},#{limit};
	</select>

	<!-- 카테고리 전체조회(category 메뉴 클릭 시) -->
	<select id="categorySelectAll" resultType="BoardDTO">
		select RN1.* from
			(select RN. bno,id,readCount,title,writeDay from 
				(select * from board
				<where>
					<if test="type != null">
						<choose>
							<when test='type.equals("all")'>
								id like concat('%',#{keyword},'%')
								or title like concat('%',#{keyword},'%')
								or contents like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("id")'>
								id like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("title")'>
								title like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("contents")'>
								contents like concat('%',#{keyword},'%')
							</when>
							<when test='type.equals("titleContents")'>
								title like concat('%',#{keyword},'%')
								or contents like concat('%',#{keyword},'%')
							</when>
						</choose>
					</if>
				</where>
				)
			RN where category = #{category} order by writeDay desc) 
		RN1 limit #{offset},#{limit};
	</select>
	
	<!-- 선택조회(게시판 제목 클릭 시) -->
	<select id="noticeSelectDetail" resultType="BoardDTO">
		select bno,id,menu,category,readCount,title,contents,file, writeDay from board where bno = #{bno};
	</select>
	
	<!-- 조회수 -->
	<update id="noticeReadCount" parameterType="int">
		update board set readCount = readCount+1 where bno = #{bno};
	</update> 
	
	<!-- 게시판 개수 -->
	<select id="BoardListAllCount" resultType="integer">
		select count(*) from 
			(select * from board
			<where>
				<if test="type != null">
					<choose>
						<when test='type.equals("all")'>
							id like concat('%',#{keyword},'%')
							or title like concat('%',#{keyword},'%')
							or contents like concat('%',#{keyword},'%')
						</when>
						<when test='type.equals("id")'>
							id like concat('%',#{keyword},'%')
						</when>
						<when test='type.equals("title")'>
							title like concat('%',#{keyword},'%')
						</when>
						<when test='type.equals("contents")'>
							contents like concat('%',#{keyword},'%')
						</when>
						<when test='type.equals("titleContents")'>
							title like concat('%',#{keyword},'%')
							or contents like concat('%',#{keyword},'%')
						</when>
					</choose>
				</if>
			</where>
			)
		board where menu = "NOTICE";
	</select>
	<select id="CategoryListCount" resultType="integer">
		select count(*) from
			(select * from board 
			<where>
				<if test="type != null">
					<choose>
						<when test='type.equals("all")'>
							id like concat('%',#{keyword},'%')
							or title like concat('%',#{keyword},'%')
							or contents like concat('%',#{keyword},'%')
						</when>
						<when test='type.equals("id")'>
							id like concat('%',#{keyword},'%')
						</when>
						<when test='type.equals("title")'>
							title like concat('%',#{keyword},'%')
						</when>
						<when test='type.equals("contents")'>
							contents like concat('%',#{keyword},'%')
						</when>
						<when test='type.equals("titleContents")'>
							title like concat('%',#{keyword},'%')
							or contents like concat('%',#{keyword},'%')
						</when>
					</choose>
				</if>
			</where>
			) 
		board where category = #{category};
	</select>
	
	<!-- 등록 -->
	<insert id="noticeInsert" parameterType="BoardDTO" useGeneratedKeys="true" keyProperty="bno">
		insert into board (id,menu,category,title,contents) values(#{id},"NOTICE",#{category},#{title},#{contents});
	</insert>
	
	<!-- 수정 -->
	<update id="noticeUpdate" parameterType="BoardDTO">
		update board set menu = "NOTICE", category = #{category}, title = #{title}, contents = #{contents} WHERE `bno` = #{bno};
	</update>
	
	<!-- 삭제 -->
	<delete id="noticeDelete" parameterType="int">
		delete from board where bno = #{bno};
	</delete>
	
	
	<!-- 첨부파일 보여주기 -->
	<select id="fileUploadList" resultType="FileNoticeDTO">
		select bno, uuid, f_seq, original_file_name, file_path, file_size from board_file where bno = #{bno};
	</select>
	<!-- 첨부파일 등록 -->
	<insert id="fileInsert" parameterType="java.util.List">
		insert into board_file(bno, uuid, f_seq, original_file_name, file_path, file_size) 
		values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.bno}, #{item.uuid}, #{item.f_seq}, #{item.original_file_name}, #{item.file_path}, #{item.file_size})
		</foreach>
	</insert>
	<delete id="fileDeleteAll"  parameterType="int">
		delete from board_file where bno = #{bno};
	</delete>
	<delete id="fileSelectDelete" parameterType="hashmap">
		delete from board_file
		<where>
			uuid IN
			<foreach collection="uuid" item="item" index="index" separator="," open="(" close=")">
				#{item}
			</foreach>
		</where>
	</delete>
</mapper>