<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aqh.board.domain.dao.NoticeDAO">
	<!-- 메뉴 전체조회(notice 메뉴 클릭 시) -->
	<select id="selectAll" parameterType="BoardDTO" resultType="BoardDTO">
		select bNo,id,readCount,title,writeDay from board where menu = 'NOTICE';
	</select>
	<!-- 카테고리 전체조회(category 메뉴 클릭 시) -->
	<select id="" resultType="">
		select bNo,id,readCount,title,writeDay from board where category = #{category};
	</select>
	
	<!-- 선택조회(게시판 제목 클릭 시) -->
	<select id="selectDetail" parameterType="BoardDTO" resultType="BoardDTO">
		select bNo,id,menu,category,readCount,title,contents,file from board where bNo = #{bNo};
	</select>
	
	<!-- 글 등록 -->
	<select id="insert" parameterType="BoardDTO" resultType="BoardDTO">
		insert into board (bNo,id,menu,category,readCount,file,title,writeDay,contents) values(#{bNo},#{id},#{menu},#{category},#{readCount},#{file},#{title},sysdate(),#{contents});
	</select>
	
	<!-- 글 수정 -->
	<select id="update" parameterType="" resultType="">
		
	</select>
	
	<!-- 글 삭제 -->
	<select id="delete" parameterType="int" resultType="">
		
	</select>

</mapper>