<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aqh.board.dao.QnAMapper">
	
	<select id="getBoardTotal" resultType="int">
		SELECT count(*) 
		FROM board
		<include refid="search" />
	</select>
	
	<update id="viewCntUp" parameterType="long">
		UPDATE board 
		SET readCount=readCount+1
		WHERE bno=#{bno} AND menu='QNA'
	</update>
	
	<sql id="search">
		<trim prefix="WHERE (" prefixOverrides="AND" suffix=")">
			AND menu = 'QNA'
            <if test="category != null ">
                AND category = #{category}
            </if>
            
			<if test="type != null &amp;&amp; !type.equals('')">
				<if test="type == 'contents'">
	            	AND contents LIKE concat('%',#{keyword},'%')
	            </if>
	            <if test="type == 'title'">
	            	AND title LIKE concat('%',#{keyword},'%')
	            </if>
	            <if test="type == 'id'">
	            	AND id LIKE concat('%',#{keyword},'%')
	            </if>
	            <if test="type == 'all'">
	                AND (contents LIKE concat('%',#{keyword},'%')
	                OR title LIKE concat('%',#{keyword},'%')
	                OR id LIKE concat('%',#{keyword},'%'))
	            </if>
            </if>
       </trim>
	</sql>
	
	<select id="getBoardList" resultType="BoardDTO">
        SELECT * FROM 
        	(SELECT bno, title, id, DATE_FORMAT(writeDay, '%Y-%m-%d') writeDay, readCount, category, replyCnt
			FROM board
			<include refid="search" />
			ORDER BY writeDay DESC, bno DESC) SUBQUERY
		LIMIT #{offset},#{limit}
    </select>
	
	<select id="findByBoardNumber" parameterType="long" resultType="BoardDTO">
		SELECT bno, title, contents, id, writeDay, readCount, category, replyCnt
		FROM board
		WHERE bno=#{bno} AND menu='QNA'
	</select>
	
	<insert id="insertBoard" parameterType="BoardDTO" useGeneratedKeys="true" keyProperty="bno">
		INSERT INTO board(id, title, contents, menu, category)
		VALUES (#{id}, #{title}, #{contents}, 'QNA', #{category})
	</insert>
	
	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE board
		SET title=#{title}, contents=#{contents}
		WHERE bno=#{bno} AND menu='QNA'
	</update>
	
	<delete id="deleteAll">
		DELETE FROM board
		WHERE menu='QNA'
	</delete>
	
	<delete id="deleteBoard" parameterType="long">
		DELETE FROM board
		WHERE bno=#{bno} AND menu='QNA'
	</delete>
	
	<select id="getFileList" resultType="FileDTO">
		SELECT * FROM attachfile
		WHERE bno=#{bno}
	</select>
	
	<select id="getReplyTotal" resultType="int">
		SELECT replyCnt FROM board
		WHERE bno=#{bno}
	</select>
	
</mapper>