<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "=//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aqh.reply.domain.dao.ReplyDAO">

    <insert id="register">
        INSERT INTO REPLY( bno, id, contents)
        VALUES( #{bno} , #{id}, #{contents} )
    </insert>
    <select id="getReplyList" resultType="ReplyDTO">
        SELECT * FROM REPLY where bno = #{bno} 
        ORDER BY writeDay ASC
        LIMIT #{offset},#{limit}
    </select>
    <select id="getReply" resultType="ReplyDTO">
        SELECT * FROM REPLY where rno = #{rno}
    </select>
    <update id="modifyReply">
        UPDATE reply SET contents = #{contents} WHERE rno = #{rno}
    </update>
    <delete id="removeReply">
        delete from reply where rno = #{rno}
    </delete>

</mapper>