<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "=//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aqh.reply.domain.dao.ReplyDAO">

    <insert id="register">
        INSERT INTO REPLY(bNo,id,contents)
        VALUES( #{bNo} , #{id}, #{contents} )
    </insert>
    
    <select id="getReplyList" resultType="ReplyDTO">
        SELECT * FROM REPLY where bNo = #{bNo} limit #{offset},#{limit}
    </select>
    <select id="getReply" resultType="ReplyDTO">
        SELECT * FROM REPLY where rNo = #{rno}
    </select>
    <delete id="removeReply">
        delete from reply where rNo = #{rno}
    </delete>
</mapper>